<!DOCTYPE html>
<html>

<head>
    <title>{{ show_details.title }}</title>
    <!-- Include Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<body>
    <div class="container">
        <h1>{{ show_details.title }}</h1>

        <p><strong>Network:</strong> {{ show_details.network }}</p>
        <p><strong>Release Date:</strong> {{ show_details.release_date }}</p>
        <p><strong>Description:</strong> {{ show_details.description }}</p>
        <p><strong>Last Update At :</strong> {{show_details.updated_at}}</p>

        <p>
            <a href="{% url 'show_edit' show_details.id %}" class="btn btn-primary">Edit</a>
        <form action="{% url 'confirm_delete' show_details.id  %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
        <a href="{% url 'show_list' %}" class="btn btn-secondary">Back to List</a>
        </p>
    </div>

    <!-- Include Bootstrap JS (optional, if you need JS features) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>